html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    position: relative;
    height: 100%;
}
.background,.background1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
.background{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-image: url('@/assets/ex2.png');
    background-position: center center;
    background-size: 30vh 30vh;
    background-repeat: repeat;
    animation: moveBackground 30s linear infinite;
    filter: blur(2px);
}
.background1{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-image: url('@/assets/ex3.png');
    background-position: center center;
    background-size: 30vh 30vh;
    background-repeat: repeat;
    animation: moveBackground 20s linear infinite;
    filter: blur(0px);
    opacity: 0.4;
}
@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.background2 {
    position: absolute; /* 确保它覆盖在 background 上 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(138, 43, 226, 0.8),rgba(70, 130, 180, 0.8)); /* 蓝紫渐变色 */
    z-index: 2; /* 在背景和内容之间 */
}